<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Musica</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    
    <form method="post" action="/adicionar">

        <fieldset>
            <legend>Digite as informações da musica</legend>

            <div class="mb-3">
                <label>Nome da Música:</label>
                <input type="text" name="txtNome" class="form-control">
            </div>

            <div class="mb-3">
                <label>Cantor / Grupo / Banda:</label>
                <input type="text" name="txtCantor" class="form-control">
            </div>

            <div class="mb-3">
                <label>Genero:</label>
                <input type="text" name="txtGenero" class="form-control">
            </div>

            <div class="mb-3">
                <button type="submit">Cadastrar Musica</button>
            </div>

        </fieldset>
    </form>


</body>
</html>